* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Body */
body  {
    font-family: 'Arial' , sans-serif;
}

/* Nav BAR */
nav {
    position: relative;
    background: rgb(255, 255, 255);
    color: #fff;
    display: flex;
    justify-content: space-between;
    height:fit-content;
    overflow: hidden;
    width:100%;
}

/* Nav Main Menu */
nav .mainMenu {
    display: flex;
    list-style: none;
}

/* Centered section inside the top navigation */
.nav-center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.nav-right {
    position:absolute;
    float: right;
    right:-100px;
    top:50%;
    transform: translate(-50%, -50%);
}

nav .mainMenu li a {
    display: inline-block;
    padding: 30px;
    margin:10px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
}
nav .mainMenu li a:hover {
    color: rgb(0, 110, 255);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
    display:none;
}

.icons i {
    display: inline-block;
    padding: 12px;
    color:black;
}

/* First Media Querie */

@media(max-width:1020px){
    nav .mainMenu li a {
        display: inline-block;
        padding: 30px;
        margin:10px;
        text-decoration: none;
        /* text-transform: uppercase; */
        color: rgb(0, 0, 0);
        font-size: 1rem;
        font-family:'Courier New', Courier, monospace;
    }
}

/* Second Media Querie */

@media(max-width: 805px){
    nav .logo{
        margin: 6px;
        font-size: 25px;
        cursor: pointer;
        display:inherit;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: -100%;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: flex;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(0, 110, 255);
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
        color:rgb(0, 0, 0);
    }
}

.fa-youtube:hover {color: rgb(255, 0, 0);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 102, 0);}
.fa-github:hover {color: rgb(146, 0, 134);}


 

