/* CONTAINER FLUID */

.container-fluid{
    padding-top: 2rem;
    height: 410px;
}

/* CONTAINER FLUID HEADER TEXT */

.container .row .col h1{
    font-size: 60px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.container .row .col h2{
    font-size:80px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* CONTAINER FLUID ABOUT ME TEXT */

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .row .col .p4{
    text-decoration: underline;
    font-family:cursive;
}

/* IMG HOVERS */
.img-fluid:hover{opacity:0.3; transition: .5s ease;}

/* FIXING FOOTER */

.button {
    padding: 10px 25px;
    font-size: 15px;
    margin: 2px 2px;
}

footer .contact .holder .info{
    padding-bottom: 1rem;
}

/* First Media Querie */

@media(max-width:1185px){
    footer{
        position:absolute;
        bottom:0rem;
    }
}

@media(max-width:550px){
    footer{
        position:absolute;
        bottom:0rem;
    }
}

@media(max-width:500px){
    footer{
        position:absolute;
        bottom:0rem;
    }
}

@media(max-width:1400px){
    .container-fluid{
        height:450px;
        transition: ease all .5s;
    }
}

@media(max-width:1199px){
    .container-fluid{
        height:560px;
        transition: ease all .5s;
    }
}

/* Second Media Querie */

@media(max-width:1000px){
    .container-fluid{
        height:600px;
        transition: ease all .5s;
    }
}

/* Third Media Querie */

@media(max-width:874px){

    .container-fluid{
        height:650px;
        transition: ease all .5s;
    }

    nav .mainMenu li a {
      padding: 30px;
      margin:10px;
      font-size: 0.8rem;
      transition: ease all .5s;
    }
  }

@media(min-height:820px){
    ::-webkit-scrollbar {
        display: none;
    }
}

/* Media Querie (DROP DOWN) */

@media(max-width: 805px){
    nav .logo{
        margin: 6px;
        font-size: 25px;
        cursor: pointer;
        display:inherit;
    }
  
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: -100%;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        transition: top 1s ease;
        display: flex;
    }
  
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        color:black;
    }
  
    nav .openMenu {
        display: block;
    }
  
    nav .mainMenu li a {
        background: transparent;
        font-size: 2rem;
    }
  
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(0, 110, 255);
        font-size: 2.5rem;
    }
  }

/* Fourth Media Querie */

@media(max-width:780px){

    footer .contact .holder .info{
        padding-bottom: 0.5rem;
    }
    .button {
        padding: 8px 20px;
        font-size: 15px;
        margin: 2px 2px;
    }
}

/* Fifth Media Querie */

@media(max-width:750px){

    .container .row .col h2{
        font-size: 50px;
    }

    .container-fluid{
        height:680px;
        transition: ease all .5s;
    }
}

/* ----------------------------------------------------------------------------------------- */

/* IPHONE RESPONSIVENESS FOOTER */

@media(max-width:492px){
    .container-fluid{
        height:750px;
        transition: ease all .5s;
    }
}

@media(max-width:415px){
    .container-fluid{
        height:800px;
        transition: ease all .5s;
    }

    .container .row .col h1{
        text-align: center;
        font-size: 40px;
    }
    .container .row .col h2{
        font-size: 30px;
    }
}

@media(max-width:347px){
    .container-fluid{
        height:900px;
        transition: ease all .5s;
    }
}
